.container {
    height: 500px;
    width: 700px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-image-div {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
}

.container-image {
    height: 100%;
    width: 100%;
    transition: 0.6s;
}

.container:hover .container-image {
    filter: brightness(60%);
}

.container-text-div {
    position: absolute;
    z-index: 10;
    width: 120px;
    font-size: 30px;
    color: white;
    visibility: hidden;
    transition: 0.6s;
    opacity: 0;
}

.container:hover .container-text-div {
    visibility: visible;
    opacity: 1;
}

.hover-div {
    background-color: black;
    position: absolute;
    width: 100%;
    opacity: 0.4;
    transition: margin 3s;
    z-index: 10;
    visibility: hidden;
}

#hover-div-top {
    height: 40px;
    top: 0;
}

#hover-div-bottom {
    height: 70px;
    bottom: 0;
}

.container:hover #hover-div-top,
.container:hover #hover-div-bottom {
    visibility: visible;
}